<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/registration/home_screen.css' %}" type="text/css" />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
    <!-- fonts end -->
    <!-- font awsome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <!-- font awsome end -->
    <title>HomeScreen</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <!-- Logo section -->
            <div class="col col-12 col-sm-12 col-md-6">
                <img src="{% static 'images/registration/logo_home_screen.png' %}" width="100%" />
            </div>
            <!-- logo section end -->

            <!-- title and description -->
            <div class="col col-12 col-sm-12 col-md-6">
                <h1>UrContacts</h1>
                <hr>
                <h3>Welcome </h3>
                <h4>Store retrieve your loved one's contacts</h4>
                <div class="getstarted">
                    <p>Get Started</p>
                    <a href="{% url 'userdata:login_screen'%}"><i class="fas fa-angle-right"></i></a>
                </div>

            </div>
        </div>
        <!-- title and description end -->
        <div class="row">
            <div class="col col-12">
                <p class=copyright>&#169; Copyright @vijaytummala2020</p>
            </div>
        </div>

    </div>









    <!-- boot strap js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>